@import ../../../global/sass/colors

.artists
  display: flex
  flex-direction: column
  .all
    width: 100%
    height: fit-content
    .artists-cover
      width: 20vh
      margin: 10px
  .max
    width: 500px