@import ../../../global/sass/colors
@import ../../../global/sass/mixins

.songs
  @include window-basic-configuration
  display: flex
  justify-content: flex-start
  align-items: flex-start
  .all
    width: 100%
    height: fit-content
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
    .song
      width: 25%
      height: 10vh
      display: flex
      align-items: center
      justify-content: flex-start
      margin: 10px 0 0 0
      &:hover
        background: #fff4
      .cover
        height: 10vh
      .info
        display: flex
        flex-direction: column
        margin-left: 5px
        span
          color: $highlight
          font-family: 'Roboto'
        .title
          font-size: 0.9em
        .artists
          font-size: 0.8em
        .time
          font-size: 0.8em
          font-style: italic