@import ../../../global/sass/colors
@import ../../../global/sass/mixins

.songs
  @include window-basic-configuration
  @include flex-ss
  @include scroll-edit
  overflow-y: scroll
  .all
    @include flex-ss
    width: 100%
    height: fit-content
    flex-direction: row
    flex-wrap: wrap
    .song
      width: calc( 20% - 10px )
      margin: 10px 0 0 10px
      .cover-card
        width: 100%
      .info-card
        @include flex-ss
        .text-card
          &:first-child
            font-size: 0.9em
          &:last-child
            font-style: italic