@import ./colors

@mixin absolute-space
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

@mixin all-space
  width: 100%
  height: 100%

@mixin flex-cc
  display: flex
  align-items: center
  justify-content: center

@mixin flex-0c
  display: flex
  align-items: center
  
@mixin flex-bc
  display: flex
  align-items: center
  justify-content: space-between
  
@mixin only-content
  width: fit-content
  height: fit-content
  
@mixin below-to-0
  margin: 0
  padding: 0
  
@mixin window-basic-configuration
  width: 95vw
  height: 95vh
  max-height: 95vh
  min-height: 95vh
  padding-bottom: 5vh
  background: $base
  overflow-x: hidden
  overflow-y: auto